<p id="notice"><%= notice %></p>
<style>
    .order{
      background-color: rgba(0, 0, 0, 0.7);
    }

    .orders{


    }

    .new_pending{

    }

    .header{


    }
</style>
<div class="orders">
  <table>
    <thead>
      <div class="new_pending">
        <%= render 'shared/form', orders: @orders %>
      </div>
      <div class="header">
        <% if @orders_pending.present? || @order_in_progress.present? || @orders_completed.present? %>
          <tr>
            <th>Status</th>
            <th>Num order</th>
            <th colspan="3"></th>
          </tr>
        <% end %>
      <div>
    </thead>
    <tbody>
      <div class="order">
        <% @orders_pending.each do |order| %>
          <tr>
            <td><%= order.status %></td>
            <td align="center"><%= order.id %></td>
            <td><%= link_to 'Show Order', management_center_order_pending_path(order) %></td>
          </tr>
        <% end %>
      </div>
      <div class="order">
        <% @orders_in_progress.each do |order| %>
          <tr>
            <td><%= order.status %></td>
            <td align="center"><%= order.id %></td>
            <td><%= link_to 'Show Order', management_center_order_in_progress_path(order) %></td>
          </tr>
        <% end %>
      </div>
      <div class="order">
        <% @orders_completed.each do |order| %>
          <tr>
            <td><%= order.status %></td>
            <td align="center"><%= order.id %></td>
            <td><%= link_to 'Show Order', management_center_order_completed_path(order) %></td>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
